body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
}

.bgbutton {
    background: linear-gradient(to bottom right, #18b7fb, #112763);
    padding: 5%;
    border-radius: 50%;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgba(7, 146, 216, 0);
    font-size: 10vw;
    /* Ajusta el tamaño de la fuente según el ancho de la ventana */
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    /* Ajusta el ancho según el ancho de la ventana */
    height: 20vw;
    /* Ajusta la altura según el ancho de la ventana */
    border-radius: 50%;
}
